/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {font-weight:bold;}
em {font-style:italic;}

/* END RESET */


/* VARIABLES */
$white: #ffffff;
$gray-100: #f6f6f6;
$gray-200: #eaeaea;
$gray-300: #d1d1d1;
$gray-400: #a7a7a7;
$gray-500: #717171;
$gray-600: #444444;
$gray-700:#3e3e3e;
$gray-800: #222222;
$gray-900:#111111;
$black: #000000;

$teal: #028090;
$cobalt: #003566;
$link: $teal;
$link-hover: $cobalt;

$highlighter: #fae396;
$gold: #E9C46A;
$orange: #F4A261;
$rouge: #E76F51;
$red: #cc3d2d;


/* BREAKPOINTS */

$breakpoints: (
    'xsmall': 500px,
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

@mixin respond-to($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
   
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }


* {box-sizing:border-box;}

  

body, html {
    font-family:'Source Code Pro';
}

p {
    line-height:1.5;
}


h1 {
    text-transform:uppercase;
    font-size:2rem;
    font-weight:bold;
    margin-bottom:1rem;
}

img {
    width:100%;
}

h2 {
    font-size:1.5rem;
    font-weight:bold;
    &.small {
        font-size:1rem;
        font-style:italic;
        text-transform:uppercase;
        font-weight:normal;
        border-bottom:dotted $black 1px;
        margin-bottom:.5rem;
        padding-bottom:.3rem;
    }
}
h3 {
    font-style:italic;
    font-size:1.25rem;
    color:$gray-700;
}

a {
    text-decoration:none;
    transition:0.2s ease;
    box-shadow: inset 0 -.55rem 0 $highlighter; 
    color:$black;
    font-weight:bold;
    border-bottom:solid transparent 2px;
        &:hover, &:active {
            box-shadow: inset 0  -1rem  0 $gold; 
            border-bottom:solid $black 2px;
            color:$black;

    }
    &.back {
        box-shadow:none;
        background:$highlighter;
        color:$black;
        width:100%;
        display:block;
        padding:.5rem;
        &::before {
            content: "\2190";
            margin-right:.25rem;
        }
        &:hover, &:active {
            background:$gold;
        }
    }
}

// BEGIN BIO CONTAINER

.bio-container {
    font-family:'Source Code Pro', monospace;
    .alert {
        background:$highlighter;
        font-weight:bold;
        display:block;
        border-bottom:solid $black 2px;
        text-align:center;
        padding:1rem;
        margin-bottom:1rem;
    }
    h1 {
        max-width:1100px;
        margin:0 auto;
        padding: 1rem 0;
    }
    .bio-intro {
        max-width:1100px;
        margin:0 auto;
        border-bottom:solid $gold 1px;
        margin-bottom:1rem;
        padding-bottom:1rem;
        p {margin-bottom:.5rem;}
    }
    .bio-grid {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr ;
        max-width:1100px;
        margin:0 auto;
        gap:2rem;
        margin-top:2rem;
        margin-bottom:2rem;
        .grid-item {
            border:none;
            border:solid $teal 3px;
            border-radius:16px;
            padding:1rem;
            box-shadow:none;
            display:block;
            font-weight:normal;
            background:$white;
            position:relative;
            align-self:start;
            &.staff {
                border:solid $gold 3px;
                &:hover {
                    border:solid $gold 3px;
                    box-shadow: 5px 5px 0px $highlighter;
                }
            }
            &:hover {
                box-shadow:none;
                transform: rotate(-3deg) scale(1.05);
                box-shadow: 5px 5px 0px $cobalt;
            }
            &:nth-child(2n) {
                &:hover {
                    transform: rotate(3deg) scale(1.05);
                }
            }
            img {
                width:100%;
                aspect-ratio:1/1;
                object-fit:cover;
                &.logo {
                    aspect-ratio:auto;
                    object-fit:none;
                    margin-bottom:.5rem;
                }
            }
            .lanyard {
                width:75px;
                height:10px;
                border-radius:11px;
                content:'';
                background:$gray-300;
                display:block;
                margin:0 auto;
                margin-bottom:1rem;
                transition:0.2s ease;
            }
            h2 {
                font-size:1.5rem;
                font-weight:bold;
                color:$cobalt;
                display:flex;
                justify-content:space-between;
                line-height:1.2;
                margin-top:.5rem;
            }
            .stats {
                margin-top:1rem;
                p {
                    display:flex;
                    justify-content:space-between;
                    border-bottom:dashed 1px $gray-300;
                    padding-bottom:.5rem;
                    margin-bottom:.5rem;
                    &:last-child, &:only-child {
                        margin-bottom:0;
                        border-bottom:0;
                    }
                }
            }
            .status {
                color:$white;
                padding:.5rem;
                border-radius:11px;
                text-transform:uppercase;
                font-size:.9rem;
                margin-top:.5rem;
                position:absolute;
                margin-left:-.5rem;
                display:inherit;
                border:solid $white 2px;
                transform: rotate(-7deg);
                &.active {
                    background:$red;
                }
                &.cleared {
                    background:$teal;
                }

            }
            p {
                line-height:1.5;
                &.staff {
                    display:flex;
                    border:none;
                    align-items:center;
                    text-transform:uppercase;
                    font-weight:bold;
                    color:$teal;
                    text-align:center;
                    padding-bottom:0;
                    margin-bottom:0;
                    margin-top:.5rem;
                    &:before, &:after {
                        content:'';
                        background:$gold;
                        display:block;
                        width:100%;
                        height:1px;
                    }
                    &:before {
                        margin-right:.5rem;
                    }
                    &:after {
                        margin-left:.5rem;
                    }
                }
                &.title {
                    border:none;
                    font-style:italic;
                    font-size:.9rem;
                    color:$teal;
                }
            }

        }
    }
}

// END BIO CONTAINER

.indv-bio-container {
    max-width:1300px;
    margin:0 auto;
    display:flex;
    gap:1.5rem;
    padding:2rem;
    .overview {
        width:30%;
        padding:1rem;
        box-sizing:border-box;
        border:solid $gray-300 2px;
        border-radius:16px;
        background:$gray-100;
        box-shadow: 0px 10px 0 $gray-300;
        .name {
            padding:1rem;
            background:$white;
            border:solid $gray-300 1px;
            margin-bottom:1.5rem;
            h1 {
                font-size:2rem;
                margin:0;
                padding:0;
                text-align:center;
                padding:.5rem 0 .5rem 0;
                font-family: "Permanent Marker", cursive;
            }
            .headshot {
                margin-bottom:.3rem;
            }
        }
        ul {
            margin-bottom:1.5rem;
            li {
                line-height:1.5;
                margin-bottom:.5rem;
                border-bottom:dotted $gray-500 1px;
                padding-bottom:.5rem;
                strong {
                    display:block;
                    font-size:.9rem;
                }
                &:last-child {
                    border-bottom:none;
                    margin:0;
                    padding:0;
                }
            }
            &:last-child {
                margin-bottom:0;
            }
        }
    }
    .bio-main {
        width:70%;
        p {
            margin-bottom:.5rem;
        }
        h2 {
            margin-bottom:.5rem;
        }
        .flex {
            display:flex;
            gap:1rem;
            margin-bottom:1rem;
            .flex-one {
                width:50%;
            }
            .flex-two {
                width:50%;
                box-sizing:border-box;
                padding:1rem;
                border:solid $gray-300 1px;
                border-radius:16px;
                ul {
                    margin:0;
                }
            }
        }
        h3 {
            margin-bottom:.5rem;
            margin-top:1rem;
            display:flex;
            justify-content:space-between;
            border-bottom:dotted $gray-500 1px;
            padding-bottom:.5rem;
            span {
                font-style:normal;
                font-size:1rem;
                align-self:center;
                text-transform:uppercase;
                color:$gray-500;
            }
        }
        ul {
            margin-bottom:1rem;
            li {
                line-height:1.5;
            }
        }
    }
}