/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {font-weight:bold;}
em {font-style:italic;}

/* END RESET */


/* VARIABLES */
$white: #ffffff;
$gray-100: #f6f6f6;
$gray-200: #eaeaea;
$gray-300: #d1d1d1;
$gray-400: #a7a7a7;
$gray-500: #717171;
$gray-600: #444444;
$gray-700:#3e3e3e;
$gray-800: #222222;
$gray-900:#111111;
$black: #000000;

$teal: #028090;
$cobalt: #003566;
$link: $teal;
$link-hover: $cobalt;

$highlighter: #fae396;
$gold: #E9C46A;
$orange: #F4A261;
$rouge: #E76F51;
$red: #cc3d2d;


/* BREAKPOINTS */

$breakpoints: (
    'xsmall': 500px,
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

@mixin respond-to($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
   
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }



body, html {    font-family:'Source Code Pro', monospace; font-size:1rem;line-height:1.5;}
* {
    &::selection {
        background:$highlighter;
    }
}
header {
    .back {
margin-left:2rem;
margin-top:1rem;
margin-bottom:1rem;
display:inline-block;
font-style:italic;
        &:before {
            content:'\2190';
            padding-right:.3rem;
        }
    }
    .banner {
        background:$gold;
        padding:1rem;
        text-align:center;
        margin:0;
        border-bottom:solid $black 4px;
        border-top:solid $black 4px;
        @include respond-to('medium') {position:relative;}
    }
}

a:not(.side-nav) {
    text-decoration:none;
    transition:0.2s ease;
    box-shadow: inset 0 -.55rem 0 $highlighter; 
    color:$black;
    font-weight:bold;
    border-bottom:solid transparent 2px;
        &:hover, &:active {
            box-shadow: inset 0  -1rem  0 $gold; 
            border-bottom:solid $black 2px;
            color:$black;

    }
}


main {
    display:flex;
    max-width:1100px;
    margin:0 auto;
    gap:2rem;
    align-items:flex-start;
    padding:2rem;
}
.main {
    width:100%;
    > img{
        width:100%;
    }
    .breadcrumbs {
        display:flex;
        gap:.75rem;
        margin:0;
        padding:0;
        margin-bottom:1.5rem;
        &::before {
            content:"✦";
            color:$teal;
        }
        li {
            &::after {
                content:"|";
                margin-left:1rem;
            }
            &.current {
                font-style:italic;
                color:$gray-700;
                &::after {
                    content:none;
                }
            }
        }
    }
    h1 {
        font-size:4rem;
        text-transform:uppercase;
        line-height:1.1;
        margin-bottom:1rem;
        @include respond-to('large') {
            font-size:3rem;
        }

        @include respond-to('xsmall') {
            font-size:2rem;
        }
    }
    .version {
        font-size:1.25rem;
        font-weight:bold;
        text-transform:uppercase;
        margin-bottom:1rem;
    }
    .cvrs {
        display:block;
        font-size:1rem;
        font-style:italic;
        margin-bottom:1rem;
        span {
            display:block;
            font-style:normal;
            font-weight:bold;
            text-transform:uppercase;
            color:$gray-700;
            font-size:.9rem;
        }
    }
    p {
        margin-bottom:1rem;
    }
    .body {
        display:grid;
        grid-template-columns:1fr 300px;
        gap:1.5rem;
        @include respond-to('medium') {
            display:flex;
            flex-direction:column;
        }
    }
    .intro {
        margin-bottom:3rem;          
        .intro-block {
            font-size:1.15rem;
            border-bottom:dotted black 1px;
            margin-bottom:1rem;
        }
        .disclaimer {
            padding:1.5rem;
            background: $gray-200;
            border-left: solid $gray-400 .5rem;
            margin-top:2rem;
        }
    }
    .index {
        h2::before {
            margin-top:0;
        }
        ul {
            li {
                padding-left:.3rem;
                margin-left:.75rem;
                margin-bottom:.5rem;
            }
            li::marker {
                content:"\2726";
                color:$teal;
            }
        }
    }

    h2 {
        font-size:2rem;
        font-weight:900;
        text-transform:uppercase;
        margin-bottom:.5rem;
        color:$gray-800;
        line-height:1.2;
    }


    .search-bar {
        padding-top:1rem;
        label {
            width:100%;
            display:block;
            font-size:1.25rem;
            margin-bottom:.5rem;
        }
        input {
            width:100%;
            height:50px;
            font-family:'Source Code Pro', monospace;
            box-sizing:border-box;
            padding:1rem;
            border-radius:0;
            border:solid $gray-800 1px;
            &:focus {
                outline: solid $gold 6px;

            }
        }
    }
    dl {
        &.host-phases {
            .description-block.image {
                display:flex;
                gap:1rem;
                align-items:center;
                flex-direction:row-reverse;
                img {
                    max-width:300px;
                    border:solid black 1px;
                }
            }
        }
        padding:2rem 0;
        &::before {
            display: block;
            content:'///';
            color:$gray-400;
            font-weight:bold;
            padding-bottom:1rem;
        }
        .description-block {
            border-bottom: dotted $gray-400 2px;
            padding-bottom:1.5rem;
            margin-bottom:1.5rem;
            &:last-child, &:only-child {
                border-bottom:solid $gray-700 5px;
            }
            ul {
                list-style-type:disc;
                margin:1rem 0 0 1rem;
                &.two-col {
                    column-count:2;
                    column-gap:1rem;
                }
                li {
                    &::marker {
                        color:$teal;
                    }
                }
            }
        }
        dt {
            font-weight:800;
            font-size:1.25rem;
            .extra {
                font-size:.9rem;
                font-weight:normal;
            }
        }
        dd {
            dl {
                margin-top:.5rem;
                padding:0;
                padding-left:1rem;
                border-left:solid $gray-400 1px;
                    &::before {
                        content:none;
                    }
                dt {
                    font-size:1rem;
                }
                dd {
                    margin-bottom:.5rem;
                    &:last-child, &:only-child {
                        margin-bottom:0;
                    }
                }
            }
        }
    }

    h3 {
        font-weight:800;
        font-size:1.5rem;
        font-style:italic;
        color:$gray-600;
        margin-bottom:.5rem;
        line-height:1.2;
    }

    h4 {
        font-size:1.25rem;
        color:$gray-600;
        font-style:italic;
        font-weight:bold;
        margin-bottom:.5rem;
        margin-top:1.5rem;
    }

    ul {
        list-style-type:disc;
        margin-left:1rem;
        margin-bottom:1rem;
        li {
            margin-bottom:.25rem;
        }
    }


    .alert {
        padding:1.5rem;
        border:solid $gray-500 1px;
        border-radius:16px;
        background:$gray-100;
        margin-bottom:1rem;
        margin-left:1rem;
        margin-right:1rem;
        .alert-heading {
            font-weight:bold;
            text-transform:uppercase;
            font-size:1.1rem;
            display:flex;
            gap:.3rem;
            color:$gray-800;
            &::before {
                content:'\26A0';
                color:$gray-600;
            }

        }
        .footnote {
            display:block;
            font-size:.9rem;
            font-style:italic;
            margin-top:.5rem;
        }
        p {
            margin:0;padding:0;font-size:.9rem;
        }

    }

    .cvrs-list {
        padding:1rem;

            .description-block {
                dt {
                    display:flex;
                    justify-content:space-between;
                }

            }
    }

    .badges {
        display:flex;
        gap:.5rem;
        .badge {
            font-size:.8rem;
            text-transform:uppercase;
            padding:.25rem .5rem;     
            border-radius:8px;  
            font-weight:400;  
            &.active {
                background:$gold;
            }         
            &.passive {
                background:$teal;
                color:$white;
            }
            &.urgent {
                background:$rouge;
            }
            &.pseudo {
                background:$white;
                border:solid $rouge 1px;
                color:$rouge;
            }
        }
    }
    .threats {
        margin-bottom:1.5rem;
        ul {
            li {
                margin-bottom:1.5rem;
                display:flex;
                align-items:center;
                gap:1rem;
                span {
                    width:15%;
                    text-align:center;
                }
                p {
                    width:85%;
                }
                &:last-child {
                    margin-bottom:0;
                    padding-bottom:0;
                }
                p {
                    margin:0;
                    padding:0;
                }

            }
        }
    }
    .bio-columns {
        display:grid;
        grid-template-columns:1fr 500px;
    }
    .threat {
        padding:.25rem .75rem;
        border-radius:8px;
        display:inline-block;
        text-transform:uppercase;
        font-size:.8rem;
        font-weight:400;
        
        &.low {
            background-color:$gray-300;
        }
        &.med {
            background-color:#E9C46A;
        }
        &.high {
            background-color:#F4A261;
        }
        &.crit {
            background-color:#E76F51;
        }
    }


}

table.table {
    width:100%;
    caption {
        font-style:italic;
        text-align:left;
        font-size:.9rem;
        padding:1rem;
        background:$gray-100;
        margin-top:1rem;
        margin-bottom:2rem;
        p {
            margin:0;
            padding:0;
        }

    }
    &.adjunct {
        tr {
            td, th {
                width:calc(100%/6);
            }
            &:last-child {
                th {
                    border-bottom:solid $gray-300 1px;
                }
            }
        }
    }
    .border-top{
       border-top: solid $gray-300 3px;
    }

    td{
        border:solid $gray-300 1px;
        padding:.5rem;
    }
    th {
        border:solid $gray-300 1px;
        background:$gray-200;
        font-weight:bold;
        padding:.5rem;
        text-align:left;
        border-bottom:solid $gray-300 3px;
    }

    .sector {
        text-align:center;
        vertical-align:middle;
    font-weight:bold;
    }
}


.split-col {
    display:flex;
    gap:2rem;
    margin-bottom:2rem;
    &:last-child {
        margin-bottom:0;
    }
    @include respond-to('medium') {flex-wrap:wrap;}
    .col {
        width:50%;
        padding:1rem;
        border: solid $gray-300 1px;
        @include respond-to('medium') {width:100%;}
        h3 {
            margin:0;padding:0;
            display:flex;
            justify-content:space-between;
            align-items:center;
            margin-bottom:.5rem;
            div {
                color:$black;
            }
        }
        .training-label {
            border-bottom:dashed $gray-300 1px;
            margin-bottom:.5rem;
            display:flex;
            justify-content:space-between;
            align-items:center;
            .level {
                color:$black;
                font-size:.9rem;
                text-transform:uppercase;
                display:block;
                margin-bottom:-.25rem;
                font-weight:bold;
                font-style:normal;
            }
            h3 {
                display:block;
            }
            .badge.month {
                color:$cobalt;
                font-style:normal;
                border:solid $cobalt 1px;
            }
        }
        ul {
            list-style-type:disc;
            margin-left:1rem;
            margin-bottom:1rem;
            li {
                &::marker {
                    color:$teal;
                }
                ul {
                    list-style-type:circle;
                    margin-bottom:0;
                }
            }
        }
    }
}

.split-col-jk {
    @extend .split-col;
    .col {
        width:100%;
    }
}


h5 {
    font-weight:bold;
    color:$gray-800;
    text-transform:uppercase;
}

.small {
    border-left:dotted $gray-400 1px;
    padding-left:1rem;
    font-size:.9rem;
    .footnote {font-style:italic;font-size:.8rem;}

}

ul.characteristics {
    list-style-type:disc;
    margin-left:1rem;
    li {
        margin-bottom:.3rem;
        &::marker{color:$gold;}
    }
}

.subhead {
    margin-top:-.5rem;
    margin-bottom:1rem;
    font-style:italic;
    color:$gray-800;
    display:block;
    text-transform:uppercase;
}
.superhead {
    font-size:.9rem;
    text-transform:uppercase;
}

.life-cycle {
    border-left:solid $gold 1px;
    margin-bottom:1.5rem;
    padding: .5rem 0 .5rem 1.5rem;
    .stage {
        padding-top:.5rem;
        &::before {
            content:"";
            position:absolute;
            background:$white;
            border:solid $gold 1px;
            height:1rem;
            width:1rem;
            margin-left:-2.05rem;
            border-radius:50%;
            margin-top:.3rem;
        }
    }
}

figure.thumb {
    box-sizing:border-box;
    width:100%;
    padding:1.5rem;
    display:flex;
    flex-direction:column;
    figcaption {
        background:$gray-200;
        padding:.5rem;
        padding-left:.8rem;
        border:solid $gray-400 1px;
        border-left:solid $gray-400 .3rem;
    }
    &--right {
        max-width:450px;
        float:right;
    }
}

.phases {
    display:flex;
    justify-content:space-between;
    gap:1rem;
    li {
        display:flex;
        width:100%;
        gap:.5rem;
        text-transform:uppercase;
        font-weight:bold;
        font-size:.9rem;
        .phase-label {font-weight:normal;}
        &::after {
            content:"";
            height:1px;
            border-top:dashed $gray-700 1px;
            flex:1 0 20px;
            align-self:center;
        }
        &:last-child {
            width:auto;
            &::after {
                content:none;
            }
        }
    }
}