@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* END RESET */
/* VARIABLES */
/* BREAKPOINTS */
body, html {
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
  line-height: 1.5;
}

*::selection {
  background: #fae396;
}

header .back {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  font-style: italic;
}
header .back:before {
  content: "←";
  padding-right: 0.3rem;
}
header .banner {
  background: #E9C46A;
  padding: 1rem;
  text-align: center;
  margin: 0;
  border-bottom: solid #000000 4px;
  border-top: solid #000000 4px;
}
@media (max-width: 992px) {
  header .banner {
    position: relative;
  }
}

a:not(.side-nav) {
  text-decoration: none;
  transition: 0.2s ease;
  box-shadow: inset 0 -0.55rem 0 #fae396;
  color: #000000;
  font-weight: bold;
  border-bottom: solid transparent 2px;
}
a:not(.side-nav):hover, a:not(.side-nav):active {
  box-shadow: inset 0 -1rem 0 #E9C46A;
  border-bottom: solid #000000 2px;
  color: #000000;
}

main {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  gap: 2rem;
  align-items: flex-start;
  padding: 2rem;
}

.main {
  width: 100%;
}
.main > img {
  width: 100%;
}
.main .breadcrumbs {
  display: flex;
  gap: 0.75rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
}
.main .breadcrumbs::before {
  content: "✦";
  color: #028090;
}
.main .breadcrumbs li::after {
  content: "|";
  margin-left: 1rem;
}
.main .breadcrumbs li.current {
  font-style: italic;
  color: #3e3e3e;
}
.main .breadcrumbs li.current::after {
  content: none;
}
.main h1 {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .main h1 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .main h1 {
    font-size: 2rem;
  }
}
.main .version {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.main .cvrs {
  display: block;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1rem;
}
.main .cvrs span {
  display: block;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #3e3e3e;
  font-size: 0.9rem;
}
.main p {
  margin-bottom: 1rem;
}
.main .body {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 1.5rem;
}
@media (max-width: 992px) {
  .main .body {
    display: flex;
    flex-direction: column;
  }
}
.main .intro {
  margin-bottom: 3rem;
}
.main .intro .intro-block {
  font-size: 1.15rem;
  border-bottom: dotted black 1px;
  margin-bottom: 1rem;
}
.main .intro .disclaimer {
  padding: 1.5rem;
  background: #eaeaea;
  border-left: solid #a7a7a7 0.5rem;
  margin-top: 2rem;
}
.main .index h2::before {
  margin-top: 0;
}
.main .index ul li {
  padding-left: 0.3rem;
  margin-left: 0.75rem;
  margin-bottom: 0.5rem;
}
.main .index ul li::marker {
  content: "✦";
  color: #028090;
}
.main h2 {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: #222222;
  line-height: 1.2;
}
.main .search-bar {
  padding-top: 1rem;
}
.main .search-bar label {
  width: 100%;
  display: block;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.main .search-bar input {
  width: 100%;
  height: 50px;
  font-family: "Source Code Pro", monospace;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0;
  border: solid #222222 1px;
}
.main .search-bar input:focus {
  outline: solid #E9C46A 6px;
}
.main dl {
  padding: 2rem 0;
}
.main dl.host-phases .description-block.image {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: row-reverse;
}
.main dl.host-phases .description-block.image img {
  max-width: 300px;
  border: solid black 1px;
}
.main dl::before {
  display: block;
  content: "///";
  color: #a7a7a7;
  font-weight: bold;
  padding-bottom: 1rem;
}
.main dl .description-block {
  border-bottom: dotted #a7a7a7 2px;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}
.main dl .description-block:last-child, .main dl .description-block:only-child {
  border-bottom: solid #3e3e3e 5px;
}
.main dl .description-block ul {
  list-style-type: disc;
  margin: 1rem 0 0 1rem;
}
.main dl .description-block ul.two-col {
  column-count: 2;
  column-gap: 1rem;
}
.main dl .description-block ul li::marker {
  color: #028090;
}
.main dl dt {
  font-weight: 800;
  font-size: 1.25rem;
}
.main dl dt .extra {
  font-size: 0.9rem;
  font-weight: normal;
}
.main dl dd dl {
  margin-top: 0.5rem;
  padding: 0;
  padding-left: 1rem;
  border-left: solid #a7a7a7 1px;
}
.main dl dd dl::before {
  content: none;
}
.main dl dd dl dt {
  font-size: 1rem;
}
.main dl dd dl dd {
  margin-bottom: 0.5rem;
}
.main dl dd dl dd:last-child, .main dl dd dl dd:only-child {
  margin-bottom: 0;
}
.main h3 {
  font-weight: 800;
  font-size: 1.5rem;
  font-style: italic;
  color: #444444;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.main h4 {
  font-size: 1.25rem;
  color: #444444;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
.main ul {
  list-style-type: disc;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.main ul li {
  margin-bottom: 0.25rem;
}
.main .alert {
  padding: 1.5rem;
  border: solid #717171 1px;
  border-radius: 16px;
  background: #f6f6f6;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.main .alert .alert-heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
  display: flex;
  gap: 0.3rem;
  color: #222222;
}
.main .alert .alert-heading::before {
  content: "⚠";
  color: #444444;
}
.main .alert .footnote {
  display: block;
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 0.5rem;
}
.main .alert p {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}
.main .cvrs-list {
  padding: 1rem;
}
.main .cvrs-list .description-block dt {
  display: flex;
  justify-content: space-between;
}
.main .badges {
  display: flex;
  gap: 0.5rem;
}
.main .badges .badge {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  font-weight: 400;
}
.main .badges .badge.active {
  background: #E9C46A;
}
.main .badges .badge.passive {
  background: #028090;
  color: #ffffff;
}
.main .badges .badge.urgent {
  background: #E76F51;
}
.main .badges .badge.pseudo {
  background: #ffffff;
  border: solid #E76F51 1px;
  color: #E76F51;
}
.main .threats {
  margin-bottom: 1.5rem;
}
.main .threats ul li {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main .threats ul li span {
  width: 15%;
  text-align: center;
}
.main .threats ul li p {
  width: 85%;
}
.main .threats ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.main .threats ul li p {
  margin: 0;
  padding: 0;
}
.main .bio-columns {
  display: grid;
  grid-template-columns: 1fr 500px;
}
.main .threat {
  padding: 0.25rem 0.75rem;
  border-radius: 8px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
}
.main .threat.low {
  background-color: #d1d1d1;
}
.main .threat.med {
  background-color: #E9C46A;
}
.main .threat.high {
  background-color: #F4A261;
}
.main .threat.crit {
  background-color: #E76F51;
}

table.table {
  width: 100%;
}
table.table caption {
  font-style: italic;
  text-align: left;
  font-size: 0.9rem;
  padding: 1rem;
  background: #f6f6f6;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
table.table caption p {
  margin: 0;
  padding: 0;
}
table.table.adjunct tr td, table.table.adjunct tr th {
  width: 16.6666666667%;
}
table.table.adjunct tr:last-child th {
  border-bottom: solid #d1d1d1 1px;
}
table.table .border-top {
  border-top: solid #d1d1d1 3px;
}
table.table td {
  border: solid #d1d1d1 1px;
  padding: 0.5rem;
}
table.table th {
  border: solid #d1d1d1 1px;
  background: #eaeaea;
  font-weight: bold;
  padding: 0.5rem;
  text-align: left;
  border-bottom: solid #d1d1d1 3px;
}
table.table .sector {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.split-col, .split-col-jk {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
.split-col:last-child, .split-col-jk:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .split-col, .split-col-jk {
    flex-wrap: wrap;
  }
}
.split-col .col, .split-col-jk .col {
  width: 50%;
  padding: 1rem;
  border: solid #d1d1d1 1px;
}
@media (max-width: 992px) {
  .split-col .col, .split-col-jk .col {
    width: 100%;
  }
}
.split-col .col h3, .split-col-jk .col h3 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.split-col .col h3 div, .split-col-jk .col h3 div {
  color: #000000;
}
.split-col .col .training-label, .split-col-jk .col .training-label {
  border-bottom: dashed #d1d1d1 1px;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.split-col .col .training-label .level, .split-col-jk .col .training-label .level {
  color: #000000;
  font-size: 0.9rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: -0.25rem;
  font-weight: bold;
  font-style: normal;
}
.split-col .col .training-label h3, .split-col-jk .col .training-label h3 {
  display: block;
}
.split-col .col .training-label .badge.month, .split-col-jk .col .training-label .badge.month {
  color: #003566;
  font-style: normal;
  border: solid #003566 1px;
}
.split-col .col ul, .split-col-jk .col ul {
  list-style-type: disc;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.split-col .col ul li::marker, .split-col-jk .col ul li::marker {
  color: #028090;
}
.split-col .col ul li ul, .split-col-jk .col ul li ul {
  list-style-type: circle;
  margin-bottom: 0;
}

.split-col-jk .col {
  width: 100%;
}

h5 {
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}

.small {
  border-left: dotted #a7a7a7 1px;
  padding-left: 1rem;
  font-size: 0.9rem;
}
.small .footnote {
  font-style: italic;
  font-size: 0.8rem;
}

ul.characteristics {
  list-style-type: disc;
  margin-left: 1rem;
}
ul.characteristics li {
  margin-bottom: 0.3rem;
}
ul.characteristics li::marker {
  color: #E9C46A;
}

.subhead {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  font-style: italic;
  color: #222222;
  display: block;
  text-transform: uppercase;
}

.superhead {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.life-cycle {
  border-left: solid #E9C46A 1px;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.life-cycle .stage {
  padding-top: 0.5rem;
}
.life-cycle .stage::before {
  content: "";
  position: absolute;
  background: #ffffff;
  border: solid #E9C46A 1px;
  height: 1rem;
  width: 1rem;
  margin-left: -2.05rem;
  border-radius: 50%;
  margin-top: 0.3rem;
}

figure.thumb {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
figure.thumb figcaption {
  background: #eaeaea;
  padding: 0.5rem;
  padding-left: 0.8rem;
  border: solid #a7a7a7 1px;
  border-left: solid #a7a7a7 0.3rem;
}
figure.thumb--right {
  max-width: 450px;
  float: right;
}

.phases {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.phases li {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
}
.phases li .phase-label {
  font-weight: normal;
}
.phases li::after {
  content: "";
  height: 1px;
  border-top: dashed #3e3e3e 1px;
  flex: 1 0 20px;
  align-self: center;
}
.phases li:last-child {
  width: auto;
}
.phases li:last-child::after {
  content: none;
}