/* FONTS */
/* COLORS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-xs {
  margin-top: 0.5rem !important;
}

.mt-sm {
  margin-top: 1rem !important;
}

.mt-md {
  margin-top: 2rem !important;
}

.mt-lg {
  margin-top: 3rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-xs {
  margin-bottom: 0.5rem !important;
}

.mb-sm {
  margin-bottom: 1rem !important;
}

.mb-md {
  margin-bottom: 2rem !important;
}

.mb-lg {
  margin-bottom: 3rem !important;
}

.my-sm {
  margin: 0.5rem 0 !important;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: 0.9rem;
  font-style: italic;
}

html {
  background: #000000;
}

body {
  background-image: url("../images/checkerboard.jpg");
  background-repeat: repeat;
  background-size: 15%;
}

body.home header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-image: url("../images/caution-tape.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body.home header .site-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}
body.home header .site-title img {
  width: 150px;
}
body.home header .site-title h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-family: Impact, sans-serif;
  font-size: 8rem;
  color: #ffffff;
  text-shadow: 0.25rem 0.25rem 0 red;
}
body.home header .site-title h1 .site-intro {
  font-family: Verdana, sans-serif;
  display: block;
  font-size: 3rem;
  font-weight: bold;
}
body.home header .site-subtitle {
  background: #000000;
  display: flex;
  max-width: 1000px;
  border: solid red 6px;
  text-align: center;
  outline: solid orange 4px;
  position: relative;
}
body.home header .site-subtitle .absolute {
  width: 300px;
  position: absolute;
  top: -2rem;
}
body.home header .site-subtitle .absolute:first-child {
  left: -4.5rem;
  transform: rotate(-15deg);
}
body.home header .site-subtitle .absolute:last-child {
  right: -4.5rem;
  transform: rotate(15deg);
}
body.home header .site-subtitle span {
  font-family: Verdana, sans-serif;
  color: #ffffff;
  font-weight: bold;
  align-self: center;
  font-size: 2.5rem;
}
body.home header .dividers {
  margin-top: 2rem;
}
body.home header .dividers img {
  width: 450px;
}
body.home .intro {
  display: flex;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 3rem auto;
}
body.home .intro .text {
  text-align: center;
  background: #e01212;
  background: linear-gradient(45deg, rgb(224, 18, 18) 0%, rgb(0, 0, 0) 100%);
  color: #ffffff;
  width: 60%;
  padding: 2rem;
  outline: solid orange 2px;
  outline-offset: -1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body.home .intro .text .subhead {
  font-family: Verdana, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}
body.home .intro .text p {
  font-size: 1.5rem;
  font-family: monospace;
  margin: 1rem 0;
  font-weight: 600;
  line-height: 1.2;
}
body.home .intro .text .button {
  border: solid #000000 6px;
  background: red;
  color: #000000;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 1.5rem;
  font-size: 1.25rem;
  cursor: pointer;
}
body.home .intro .text .button:hover, body.home .intro .text .button:active, body.home .intro .text .button:focus {
  border-color: red;
  background: #000000;
  color: #ffffff;
}
body.home .intro .image {
  width: 40%;
}
body.home .intro .image img {
  width: 100%;
}
body.home .blinkies {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(600px + 0.75rem);
  align-items: center;
  gap: 0.25rem;
  margin: 0 auto;
}
body.home .blinkies h2 {
  font-family: Impact, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  border-top: solid #ffffff 2px;
  border-bottom: solid #ffffff 2px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
body.home .blinkies img {
  width: 150px;
}
body.home .counter {
  text-align: center;
  font-family: monospace;
  background: linear-gradient(45deg, rgb(255, 0, 0) 0%, rgb(255, 154, 0) 10%, rgb(208, 222, 33) 20%, rgb(79, 220, 74) 30%, rgb(63, 218, 216) 40%, rgb(47, 201, 226) 50%, rgb(28, 127, 238) 60%, rgb(95, 21, 242) 70%, rgb(186, 12, 248) 80%, rgb(251, 7, 217) 90%, rgb(255, 0, 0) 100%);
  outline: solid white 2px;
  outline-offset: -0.75rem;
  padding: 2.5rem;
  margin: 0 auto;
  color: black;
  margin-bottom: 3rem;
  max-width: 800px;
  font-size: 1.5rem;
}
body.home .counter .num {
  background: white;
  color: black;
  padding: 0.5rem 0.75rem;
  margin: 0 0.5rem;
  font-weight: bold;
}
body.home > .dividers {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
body.home > .dividers img {
  width: 450px;
}
body.home .comments {
  max-width: 900px;
  margin: 0 auto;
}
body.home .comments h2 {
  font-family: Impact, sans-serif;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
body.home .comments h2:not(:first-child) {
  display: flex;
  justify-content: space-between;
}
body.home .comments h2:first-child {
  font-size: 3rem;
  text-align: center;
}
body.home .comments h2 .comment-count {
  font-family: monospace;
  font-size: 1.25rem;
  font-weight: bold;
}
body.home .comments .subhead {
  font-family: monospace;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}
body.home .comments form {
  box-shadow: 0 0 20px red;
  margin-top: 1.5rem;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.25rem;
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 3rem;
}
body.home .comments form label {
  margin-bottom: 0.25rem;
}
body.home .comments form input, body.home .comments form textarea {
  border: solid #a7a7a7 2px;
  border-radius: 0;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-family: monospace;
}
body.home .comments form input:focus, body.home .comments form textarea:focus {
  outline: solid blue 2px;
  border-color: blue;
}
body.home .comments form input {
  height: 45px;
}
body.home .comments form textarea {
  height: 100px;
}
body.home .comments form button {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  background: red;
  border: solid #000000 4px;
  text-transform: uppercase;
  width: fit-content;
  cursor: pointer;
}
body.home .comments form button:hover, body.home .comments form button:active body.home .comments form button:focus {
  background: #000000;
  border-color: red;
  color: #ffffff;
}
body.home .comments .msg-board {
  background: #ffffff;
  padding: 2rem;
  margin-top: 1.5rem;
}
body.home .comments .msg-board .msg {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: dashed #d1d1d1 2px;
}
body.home .comments .msg-board .msg:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
body.home .comments .msg-board .msg .meta {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}
body.home .comments .msg-board .msg .likes {
  font-family: monospace;
  font-size: 0.9rem;
  color: #a7a7a7;
}
body.home .comments .msg-board .msg .likes strong {
  color: black;
}
body.home .comments .msg-board .msg .username {
  font-family: monospace;
  line-height: 1.3;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
body.home .comments .msg-board .msg .username .timestamp {
  font-weight: normal;
  font-size: 0.9rem;
  font-style: italic;
  color: #3e3e3e;
}
body.home .comments .msg-board .msg .comment {
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
body.home .services {
  text-align: center;
  font-family: Impact, sans-serif;
  color: white;
  font-size: 4rem;
  text-shadow: 4px 4px 0 red;
  text-transform: uppercase;
}
body.home .email {
  font-family: Verdana, sans-serif;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  font-weight: bold;
}
body.home .email a {
  color: aqua;
}
body.home .email a:hover, body.home .email a:active, body.home .email a:focus {
  text-decoration: none;
  color: lime;
}
body.home .prices {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
}
body.home .prices .tier {
  width: calc(50% - 1.5rem);
  border: solid red 8px;
  border-top: solid orange 8px;
  background: black;
  padding: 2rem;
  color: white;
  position: relative;
}
body.home .prices .tier .popular, body.home .prices .tier .value {
  position: absolute;
  top: -1rem;
  left: -2rem;
  transform: rotate(-15deg);
  width: 200px;
}
body.home .prices .tier h3 {
  font-family: Impact, sans-serif;
  font-size: 3.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
  width: 100%;
  text-shadow: 4px 4px 0 purple;
}
body.home .prices .tier .price {
  background-image: url("../images/badge.png");
  background-size: cover;
  position: absolute;
  top: -25px;
  right: -25px;
  width: 150px;
  height: 150px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: monospace;
  font-weight: bold;
  transform: rotate(15deg);
}
body.home .prices .tier p {
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  font-size: 1.25rem;
}
body.home .cvrs {
  display: flex;
  gap: 5rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 6rem;
  padding-bottom: 3rem;
}
body.home .cvrs img {
  width: 500px;
  max-width: 500px;
  min-width: 500px;
  transform: rotate(-7deg);
  box-shadow: 0 0 30px red;
}
body.home .cvrs .content {
  align-self: center;
}
body.home .cvrs .content h2 {
  margin-bottom: 0.5rem;
  font-family: Impact, sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  color: white;
}
body.home .cvrs .content p {
  color: white;
  font-size: 1.75rem;
  font-family: Verdana, sans-serif;
  line-height: 1.2;
}
body.home footer {
  background: black;
  padding: 1rem;
  margin-top: 3rem;
}
body.home footer p {
  font-family: Verdana, sans-serif;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 1.25rem;
  max-width: 700px;
  font-weight: bold;
  line-height: 1.2;
}
body.home footer p:first-child {
  margin-bottom: 1rem;
}