@charset "UTF-8";
/* COLORS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
.card .heading-group h2,
h4,
h5,
.timeline__stop #qac,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET */
/* atoms */
h1,
.nsh1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: bold;
  color: #1d2f4b;
}

h2,
.nsh2 {
  text-transform: uppercase;
  font-size: 3rem;
  color: #3e3e3e;
}

h3, .card .heading-group h2,
.nsh3 {
  font-size: 2.5rem;
  color: #1d2f4b;
  font-style: italic;
  text-transform: none;
}

h4,
.nsh4,
.card-group--small .card .heading-group h2,
.card-group--small .card .heading-group h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.75rem;
  color: #3e3e3e;
  font-style: normal;
}

h5, .timeline__stop #qac {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125rem;
  color: #202020;
}

h6 {
  font-style: italic;
  font-size: 1rem;
  color: #3e3e3e;
}

h1,
.nsh1,
h2,
.nsh2,
h3,
.card .heading-group h2,
.nsh3,
h4,
h5,
.timeline__stop #qac,
h6 {
  font-family: "Noto Serif", serif;
}

h1,
.nsh1,
h2,
h3,
.card .heading-group h2,
h4 {
  line-height: 1.3;
}

h5, .timeline__stop #qac,
h6 {
  line-height: 1.5;
}

p {
  font-family: "Noto Sans", sans-serif;
  color: #000000;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.superhead {
  color: #0689b9;
  text-transform: uppercase;
}

.subhead {
  font-size: 0.9rem;
  font-style: italic;
}

.superhead,
.subhead {
  display: block;
  font-family: "Azeret Mono", monospace;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}

hr {
  border: none;
  border-top: dashed #0689b9 2px;
  margin: 1.5rem 0;
}

ul {
  margin-left: 1rem;
}

ol {
  margin-left: 1.25rem;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0.5rem;
}
ul.two-col,
ol.two-col {
  column-count: 2;
  column-gap: 1.5rem;
}
@media screen and (max-width: 600px) {
  ul.two-col,
  ol.two-col {
    column-count: 1;
  }
}
ul li,
ol li {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
ul li::marker,
ol li::marker {
  color: #0689b9;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a {
  font-family: inherit;
  font-weight: bold;
  color: #0689b9;
  text-decoration-thickness: 2px;
  transition: 0.2s ease;
}
a.btn:focus-visible {
  outline: none;
}
a:not(.btn):focus-visible {
  outline: solid #0689b9 2px;
}
a:hover, a:active, a:focus {
  color: #1d2f4b;
  text-decoration: none;
}

.btn {
  font-family: "Azeret Mono", monospace;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 1.25rem;
  background: #0689b9;
  color: #ffffff;
  display: inline-block;
  border: solid #0689b9 3px;
}
.btn::after {
  content: "→";
  margin-left: 0.5rem;
}
.btn:hover, .btn:active, .btn:focus {
  background: none;
  color: #0689b9;
  border-color: #0689b9;
}
.btn--alt {
  background: none;
  color: #0689b9;
}
.btn--alt:hover, .btn--alt:active, .btn--alt:focus {
  background: #0689b9;
  color: #ffffff;
  border-color: #0689b9;
}

address {
  border-left: solid #0689b9 2px;
  padding-left: 0.5rem;
}
address p {
  margin: 0;
  font-style: italic;
}

.link-list {
  list-style-type: none;
  margin: 0;
}
.link-list li {
  margin-bottom: 0.75rem;
}
.link-list li:last-child {
  margin: 0;
}
.link-list li a {
  display: block;
}
.link-list--two-col {
  column-count: 2;
  column-gap: 1.5rem;
}
.link-list--three-col {
  column-count: 3;
  column-gap: 1.5rem;
}
@media screen and (max-width: 800px) {
  .link-list--three-col {
    column-count: 1;
  }
}

.link,
.link-list li a {
  font-family: "Azeret Mono", monospace;
  font-size: 1rem;
}
.link--large,
.link-list li a--large {
  font-size: 1.25rem;
}

[class*=has-label] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2.has-label,
h3.has-label,
.card .heading-group h2.has-label {
  border-bottom: dashed #d1d1d1 2px;
  padding-bottom: 0.5rem;
}

.label {
  border: solid #0689b9 1px;
  display: inline-block;
  font-family: "Azeret Mono", monospace;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  color: #1d2f4b;
  font-weight: 500;
  font-style: normal;
}
.label--red {
  border-color: #E33E4E;
  color: #C6192A;
}
.label--black {
  border-color: #202020;
  color: #000000;
}
.label--green {
  border-color: #70CC54;
  color: #0F8521;
}
.label--yellow {
  border-color: #EEAE38;
  color: #B35900;
}

/* MOLECULES */
.sidebar-link-list .list-heading {
  font-size: 1.5rem;
  font-weight: 800;
  border-bottom: solid #d1d1d1 2px;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.sidebar-link-list .link-list li {
  border-bottom: dashed #d1d1d1 2px;
  padding-bottom: 0.75rem;
}
.sidebar-link-list .link-list li:last-child {
  padding: 0;
  border: none;
}

.testimonial {
  display: flex;
  flex-direction: column;
}
.testimonial blockquote {
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  line-height: 1.3;
  margin-top: 3.5rem;
  color: #1d2f4b;
}
.testimonial blockquote::before {
  content: "“";
  display: block;
  font-size: 7rem;
  color: #0689b9;
  font-weight: bold;
  font-family: Georgia;
  position: absolute;
  margin-top: -4.5rem;
}
.testimonial figcaption {
  font-family: "Azeret Mono", monospace;
  color: #0689b9;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.3;
  font-weight: bold;
}
.testimonial figcaption::before {
  content: "";
  width: 50px;
  height: 2px;
  background: #d1d1d1;
  display: block;
  margin: 0.75rem 0;
}
.testimonial img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}
.testimonial img + .blockquote {
  background: #202020;
  padding: 1rem 2rem 2rem 2rem;
  width: 90%;
  margin: 0 auto;
  margin-top: -3rem;
}
.testimonial img + .blockquote blockquote {
  color: #ffffff;
}
.testimonial img + .blockquote blockquote::before {
  color: #99f2eb;
}
.testimonial img + .blockquote figcaption {
  color: #99f2eb;
}
.testimonial img + .blockquote figcaption::before {
  background: #5d5d5d;
}
@media screen and (max-width: 600px) {
  .testimonial img + .blockquote {
    margin-top: 0;
    width: 100%;
  }
}

.factoid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.factoid .icon {
  margin-bottom: 0.5rem;
}
.factoid .icon span {
  font-size: 4rem;
  color: #1d2f4b;
}
.factoid .heading-group {
  text-align: center;
}

.intro .heading-group h2 {
  display: flex;
  width: 100%;
  gap: 1.5rem;
  align-items: center;
}
.intro .heading-group h2::after {
  display: block;
  content: "";
  flex: 1 0 20px;
  height: 2px;
  background: #0689b9;
}
.intro p {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}
.intro--button-only {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
}
.intro--button-only .heading-group {
  width: 100%;
}
.intro--button-only .btn {
  width: fit-content;
}

.home {
  text-decoration: none;
}
.home:focus-visible {
  outline: solid #99f2eb 2px;
  outline-offset: -2px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo .nsh1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo .nsh1::after {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  display: block;
  content: "";
  width: 75px;
  height: 2px;
  background: #0689b9;
}
.logo .wordmark {
  text-align: center;
  display: block;
  font-family: "Azeret Mono", monospace;
  color: #000000;
  line-height: 1.3;
  font-style: italic;
}
.logo .wordmark strong {
  display: block;
  font-style: normal;
  font-weight: bold;
}
.logo--horizontal {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.logo--horizontal .nsh1 {
  text-align: left;
  flex-direction: row;
}
.logo--horizontal .nsh1::after {
  margin: 0 0.75rem;
  width: 2px;
  height: 75px;
}
.logo--horizontal .wordmark {
  text-align: left;
}

.breadcrumbs ol {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
}
.breadcrumbs ol li {
  font-family: "Azeret Mono", monospace;
  font-style: italic;
  color: #3e3e3e;
  margin-bottom: 0;
  font-size: 0.9rem;
}
.breadcrumbs ol li a {
  font-style: normal;
}
.breadcrumbs ol li::after {
  content: "|";
  font-style: normal;
  margin-left: 0.5rem;
  color: #787878;
}
.breadcrumbs ol li:last-child::after {
  content: none;
  margin: 0;
}

.overview {
  width: 30%;
  padding: 1.5rem;
  border: solid #0689b9 2px;
  border-radius: 24px;
}
.overview .superhead {
  margin-bottom: 1rem;
}
.overview .desc-list .desc-list__item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.overview .desc-list .desc-list__item:last-child {
  margin-bottom: 0;
}
.overview .desc-list .desc-list__item dt {
  text-transform: none;
  font-size: 0.9rem;
  display: flex;
  flex: 1 0 20px;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0;
}
.overview .desc-list .desc-list__item dt::after {
  content: "";
  border-top: dashed #d1d1d1 2px;
  flex: 1 0 20px;
  display: block;
  height: 2px;
}
.overview .desc-list .desc-list__item dd {
  font-size: 0.9rem;
}

.desc-list:not(.searchable-desc-list dl, .desc-list--feature, .overview .desc-list) {
  border: solid #99f2eb 2px;
  padding: 2rem;
}

.desc-list {
  font-family: "Azeret Mono", monospace;
  line-height: 1.5;
}
.desc-list dt {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
}
.desc-list dt small {
  font-weight: normal;
  text-transform: none;
  font-style: italic;
  font-size: 0.9rem;
}
.desc-list dd {
  border-bottom: dashed #d1d1d1 2px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.desc-list dd p {
  font-family: "Azeret Mono", monospace;
  font-size: 1rem;
}
.desc-list dd p:last-child {
  margin-bottom: 0;
}
.desc-list dd:last-child {
  border: none;
  margin: 0;
  padding: 0;
}
.desc-list--feature {
  border: solid #0689b9 2px;
  border-radius: 24px;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}
.desc-list--feature .desc-list__item {
  width: calc(33.33% - 0.67rem);
}
.desc-list--feature .desc-list__item dt {
  font-size: 1.1rem;
  margin-bottom: 0;
}
@media screen and (max-width: 800px) {
  .desc-list--feature .desc-list__item {
    width: 100%;
    border-bottom: dashed #d1d1d1 2px;
    padding-bottom: 1rem;
  }
  .desc-list--feature .desc-list__item:last-child {
    padding: 0;
    border: none;
  }
}
.desc-list--feature.four-col .desc-list__item {
  width: calc(25% - 0.75rem);
}
@media screen and (max-width: 800px) {
  .desc-list--feature.four-col .desc-list__item {
    width: 100%;
  }
}

.searchable-desc-list {
  border: solid #99f2eb 2px;
  display: flex;
  flex-direction: column;
}
.searchable-desc-list .search {
  background: #ffffff;
  padding: 2rem;
  position: sticky;
  top: 0;
}
.searchable-desc-list .search label {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  display: block;
}
.searchable-desc-list .search input {
  width: 100%;
  font-size: 1rem;
  font-family: "Azeret Mono", monospace;
  padding: 1rem;
  border: solid #0689b9 2px;
  outline: solid transparent 1px;
  transition: 0.2s ease;
}
.searchable-desc-list .search input:focus-visible {
  outline: solid #0689b9 4px;
}
.searchable-desc-list .desc-list {
  padding: 0 2rem 2rem 2rem;
}
.searchable-desc-list .desc-list__item {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: dashed #d1d1d1 2px;
}
.searchable-desc-list .desc-list__item:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.captioned-media {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.captioned-media img {
  width: 100%;
}
.captioned-media figcaption {
  font-family: "Azeret Mono", monospace;
  font-size: 0.9rem;
  line-height: 1.5;
  border-left: solid #0689b9 8px;
  padding: 1rem;
}

.inline-toc {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.inline-toc li {
  margin: 0;
  display: flex;
  align-items: center;
  color: #d1d1d1;
}
.inline-toc li::after {
  content: "|";
}
.inline-toc li:last-child::after {
  content: none;
}
.inline-toc li a {
  padding: 0.5rem 0.75rem;
  display: block;
}

.label-feature {
  border: solid #0689b9 2px;
  border-radius: 24px;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.label-feature .feature {
  width: calc(50% - 0.75rem);
}
@media screen and (max-width: 800px) {
  .label-feature .feature {
    width: 100%;
  }
}
.label-feature .feature p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

/* ORGANISMS */
.testimonial__wrapper {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.testimonial__wrapper .testimonial {
  width: calc(50% - 0.75rem);
}
@media screen and (max-width: 800px) {
  .testimonial__wrapper .testimonial {
    width: 100%;
  }
}

.factoid__wrapper {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.factoid__wrapper .factoid {
  width: calc(33.33% - 1rem);
}
@media screen and (max-width: 800px) {
  .factoid__wrapper .factoid {
    width: 100%;
  }
}

.page-header {
  position: relative;
  background: #ffffff;
}
.page-header__container {
  padding: 3rem 1.5rem;
  max-width: calc(1400px + 3rem);
  margin: 0 auto;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .page-header__container {
    flex-wrap: wrap;
    padding: 1.5rem;
  }
}
.page-header__container .content {
  width: 60%;
}
@media screen and (max-width: 750px) {
  .page-header__container .content {
    width: 100%;
    order: 2;
  }
}
.page-header__container .content .breadcrumbs {
  margin-bottom: 1rem;
}
.page-header__container .content .heading-group .superhead,
.page-header__container .content .heading-group .subhead {
  font-size: 1.25rem;
}
.page-header__container .content .heading-group::after {
  content: "";
  display: block;
  width: 75px;
  height: 4px;
  background: #0689b9;
  margin: 1rem 0;
}
.page-header__container .content p {
  font-size: 1.25rem;
}
.page-header__container .image {
  width: 40%;
  position: absolute;
  right: 0;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
  display: flex;
  height: 100%;
}
.page-header__container .image img {
  object-fit: cover;
  width: 100%;
}
@media screen and (max-width: 750px) {
  .page-header__container .image {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    clip-path: none;
  }
}
.page-header__container .info {
  border: dashed #0689b9 2px;
  padding: 1.5rem;
  border-radius: 24px;
  width: 30%;
}
@media screen and (max-width: 750px) {
  .page-header__container .info {
    width: 100%;
    order: 3;
  }
}
.page-header__container .info p {
  margin-bottom: 0;
  font-size: 1.1rem;
}
.page-header--light-gradient {
  background: #ffffff;
  background: linear-gradient(180deg, rgb(234, 234, 234) 0%, rgb(255, 255, 255) 74%);
}
.page-header--dark-gradient {
  background: #111111;
  background: linear-gradient(180deg, rgb(16, 16, 16) 0%, rgb(29, 47, 75) 74%);
}
.page-header--light-gray {
  background: #eaeaea;
}
.page-header--dark-gray {
  background: #111111;
}
.page-header--navy {
  background: #1d2f4b;
}
.page-header--tall .page-header__container {
  padding: 6rem 1.5rem;
}
@media screen and (max-width: 750px) {
  .page-header--tall .page-header__container {
    padding: 1.5rem;
  }
}

.internal-nav {
  margin-bottom: 1.5rem;
}
.internal-nav summary {
  border-bottom: solid #d1d1d1 2px;
  display: flex;
  justify-content: space-between;
  font-family: "Azeret Mono", monospace;
  font-size: 0.9rem;
  align-items: center;
  padding: 1rem;
  transition: 0.2s ease;
  cursor: pointer;
  font-weight: bold;
}
.internal-nav summary::after {
  content: "+";
  font-size: 1.25rem;
}
.internal-nav summary:hover {
  border-color: #0689b9;
  background: #eaeaea;
}
.internal-nav summary:focus {
  border-color: #0689b9;
}
.internal-nav summary:focus-visible {
  outline: solid #0689b9 2px;
}
.internal-nav .link-list {
  border-left: solid #0689b9 8px;
}
.internal-nav .link-list li {
  margin: 0;
}
.internal-nav .link-list li a {
  padding: 0.75rem;
  font-size: 0.9rem;
}
.internal-nav .link-list li:last-child {
  border: none;
  padding-bottom: 0;
}
.internal-nav[open] summary::after {
  content: "-";
}
.internal-nav[open] summary:focus {
  border-color: #0689b9;
}
.internal-nav[open] summary:hover {
  background: #eaeaea;
}

.alert {
  border: solid #0689b9 2px;
  border-top: solid #0689b9 12px;
  padding: 1.5rem;
  margin-bottom: 1rem;
}
.alert__heading {
  color: #0689b9;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: block;
}
.alert__heading,
.alert p {
  font-family: "Azeret Mono", monospace;
  margin-bottom: 0.5rem;
}
.alert__heading:last-child,
.alert p:last-child {
  margin-bottom: 0;
}

.card--list {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: dashed #d1d1d1 2px;
}
.card img {
  width: 100%;
  margin-bottom: 0.75rem;
  aspect-ratio: 3/2;
  object-fit: cover;
}
.card .heading-group::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #0689b9;
  margin: 0.75rem 0;
}
.card p {
  margin-bottom: 0;
}
.card .link {
  display: block;
  margin-top: 0.75rem;
}
.card .btn {
  width: 100%;
  text-align: center;
  border-radius: 30px;
  margin-top: 0.75rem;
}
.card .icon {
  margin-bottom: 0.5rem;
}
.card .icon span {
  font-size: 4rem;
  color: #0689b9;
}
.card--border {
  border: solid #1d2f4b 2px;
  border-radius: 24px;
  padding: 1.5rem;
}
.card--border img {
  border-radius: 22px 22px 0 0;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-top: -1.5rem;
  width: calc(100% + 3rem);
}
.card--border.card--icon {
  position: relative;
  margin-top: 3rem;
  padding-top: 4rem;
}
.card--border.card--icon .icon {
  position: absolute;
  top: -3rem;
  left: calc(50% - 3rem - 4px);
  margin: 0 auto;
  padding: 1.5rem;
  border: solid #1d2f4b 2px;
  border-radius: 50%;
}
.card--border.card--icon .icon span {
  font-size: 3rem;
}
.card--bio ul {
  list-style-type: none;
  margin: 1.25rem 0;
  padding: 0;
}
.card--bio ul li {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: dashed #d1d1d1 2px;
}
.card--bio ul li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.section-wrap .card--icon .icon {
  background: #ffffff;
}

.section-wrap--dark-gray .card--icon .icon {
  background: #111111;
}

.section-wrap--light-gray .card--icon .icon {
  background: #eaeaea;
}

.section-wrap--navy .card--icon .icon {
  background: #1d2f4b;
}

.timeline__stop {
  border-left: solid #0689b9 2px;
  padding: 2rem;
  position: relative;
  border-bottom: dashed #d1d1d1 2px;
}
.timeline__stop #qac {
  font-size: 1.5rem;
}
.timeline__stop:only-child, .timeline__stop:last-child {
  border-bottom: none;
}
.timeline__stop::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background: #ffffff;
  border: solid #0689b9 2px;
  border-radius: 50%;
  position: absolute;
  left: -14px;
}
.timeline__stop .heading-group {
  margin-bottom: 0.5rem;
}
.timeline__stop p:last-child {
  margin: 0;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.card-group .card {
  width: calc(33.33% - 1rem);
}
@media screen and (max-width: 900px) {
  .card-group .card {
    width: calc(50% - 0.75rem);
  }
}
@media screen and (max-width: 600px) {
  .card-group .card {
    width: 100%;
  }
}
.card-group--internal .card {
  width: calc(50% - 0.75rem);
}
@media screen and (max-width: 600px) {
  .card-group--internal .card {
    width: 100%;
  }
}
.card-group--small .card {
  width: calc(25% - 1.125rem);
}
@media screen and (max-width: 1200px) {
  .card-group--small .card {
    width: calc(50% - 0.75rem);
  }
}
@media screen and (max-width: 600px) {
  .card-group--small .card {
    width: 100%;
  }
}

.section-wrap {
  padding: 3rem 1.5rem;
}
.section-wrap .intro {
  margin-bottom: 1.5rem;
}
.section-wrap .intro p:last-child {
  margin-bottom: 0;
}
.section-wrap > * {
  max-width: 1400px;
  margin: 0 auto;
}

.section-wrap--light-gray {
  background: #eaeaea;
}

.section-wrap--dark-gray {
  background: #111111;
}

.section-wrap--navy {
  background: #1d2f4b;
}

/* on-dark styles */
[class*="--on-dark"] h1,
[class*="--on-dark"] h3,
[class*="--on-dark"] .card .heading-group h2,
.card .heading-group [class*="--on-dark"] h2,
[class*="--on-dark"] h5,
[class*="--on-dark"] .timeline__stop #qac,
.timeline__stop [class*="--on-dark"] #qac {
  color: #eaeaea;
}
[class*="--on-dark"] h2,
[class*="--on-dark"] h4,
[class*="--on-dark"] h6 {
  color: #d1d1d1;
}
[class*="--on-dark"] p,
[class*="--on-dark"] ul,
[class*="--on-dark"] ol {
  color: #ffffff;
}
[class*="--on-dark"] .subhead {
  color: #d1d1d1;
}
[class*="--on-dark"] .superhead,
[class*="--on-dark"] ul li::marker,
[class*="--on-dark"] ol li::marker {
  color: #99f2eb;
}
[class*="--on-dark"] a {
  color: #99f2eb;
}
[class*="--on-dark"] a:hover, [class*="--on-dark"] a:active, [class*="--on-dark"] a:focus {
  color: #ffffff;
}
[class*="--on-dark"] a:not(.btn):focus-visible {
  outline: solid #99f2eb 2px;
}
[class*="--on-dark"] .btn {
  background: #99f2eb;
  border-color: #99f2eb;
  color: #1d2f4b;
}
[class*="--on-dark"] .btn:hover, [class*="--on-dark"] .btn:active, [class*="--on-dark"] .btn:focus {
  background: none;
  color: #99f2eb;
}
[class*="--on-dark"] .btn--alt {
  background: none;
  color: #99f2eb;
}
[class*="--on-dark"] .btn--alt:hover, [class*="--on-dark"] .btn--alt:active, [class*="--on-dark"] .btn--alt:focus {
  background: #99f2eb;
  color: #1d2f4b;
  border-color: #99f2eb;
}
[class*="--on-dark"] .alert {
  border-color: #99f2eb;
}
[class*="--on-dark"] .alert__heading {
  color: #99f2eb;
}
[class*="--on-dark"] .factoid .icon span {
  color: #0689b9;
}
[class*="--on-dark"] .card .heading-group::after {
  background: #99f2eb;
}
[class*="--on-dark"] .card .heading-group h2,
[class*="--on-dark"] .card .heading-group h3 {
  color: #d1d1d1;
}
[class*="--on-dark"] .card--border {
  border-color: #0689b9;
}
[class*="--on-dark"] .card--border.card--icon .icon {
  border-color: #0689b9;
}
[class*="--on-dark"] .card--border.card--icon .icon span {
  color: #99f2eb;
}
[class*="--on-dark"] .label {
  color: #d1d1d1;
  border-color: #99f2eb;
}
[class*="--on-dark"] .section-intro .heading-group h2::after {
  background: #99f2eb;
}
[class*="--on-dark"] .page-header__container .info {
  border-color: #99f2eb;
}
[class*="--on-dark"] .breadcrumbs li {
  color: #d1d1d1;
}
[class*="--on-dark"] .breadcrumbs li::after {
  color: #d1d1d1;
}
[class*="--on-dark"] .page-header__container .content .heading-group::after {
  background: #99f2eb;
}
[class*="--on-dark"] .content .heading-group::after {
  background: #99f2eb;
}

.footer {
  display: flex;
  justify-content: center;
  background: #eaeaea;
  border-top: solid #0689b9 4px;
  align-items: center;
  flex-wrap: wrap;
}
.footer > * {
  padding: 1.5rem;
}
@media screen and (max-width: 700px) {
  .footer > * {
    padding: 0;
  }
}
@media screen and (max-width: 1300px) {
  .footer .logo {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .footer .logo {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
}
.footer .contact {
  max-width: 300px;
}
.footer .contact .contact__heading {
  font-family: "Azeret Mono", monospace;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  color: #3e3e3e;
  display: block;
  margin-bottom: 0.5rem;
}
.footer .contact address {
  margin-bottom: 0.5rem;
}
.footer .contact p {
  font-size: 1rem;
  margin-bottom: 0;
}
@media screen and (max-width: 1300px) {
  .footer .contact {
    max-width: unset;
    width: 100%;
    text-align: center;
  }
  .footer .contact .contact__heading {
    margin-bottom: 1rem;
  }
  .footer .contact address {
    border-left: none;
  }
  .footer .contact address::before, .footer .contact address::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: #0689b9;
    margin: 0.5rem auto;
  }
}
@media screen and (max-width: 700px) {
  .footer .contact {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.footer .link-list li {
  min-width: 200px;
  border-bottom: dashed #d1d1d1 2px;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 700px) {
  .footer .link-list li:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 700px) {
  .footer .link-list {
    max-width: 100%;
    width: 100%;
  }
  .footer .link-list li {
    padding-left: 0.75rem;
  }
}
.footer .compliance {
  width: 100%;
  text-align: center;
  border-top: dashed #0689b9 2px;
  padding: 0.75rem;
}
.footer .compliance p {
  font-family: "Azeret Mono", monospace;
  font-size: 0.9rem;
  margin: 0;
}

table {
  width: 100%;
  font-family: "Azeret Mono", monospace;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  border: solid #d1d1d1 2px;
}
table tbody:last-child {
  margin-bottom: 1rem;
}
table caption {
  font-style: italic;
  text-align: left;
  font-size: 0.9rem;
}
table caption.top {
  caption-side: top;
  margin: 1rem;
}
table caption.bottom {
  caption-side: bottom;
  margin: 1rem 1rem 0 1rem;
}
table caption p {
  margin: 0;
  padding: 0;
}
table td {
  border: solid #d1d1d1 2px;
  padding: 0.5rem;
}
table th {
  border: solid #d1d1d1 2px;
  background: #eaeaea;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
  vertical-align: middle;
  border-bottom: solid #d1d1d1 3px;
}
table .sector {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.content:not(.page-header .content, .portal .content) p {
  font-size: 1.25rem;
}
.content:not(.page-header .content, .portal .content) p:first-of-type::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #0689b9;
  margin: 1rem 0;
}
.content:not(.page-header .content, .portal .content) p:first-child::before {
  margin-top: 0;
}

.content-feature {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex-wrap: wrap;
}
.content-feature .icon span {
  font-size: 3rem;
  color: #0689b9;
  margin-bottom: 1rem;
}
.content-feature .content,
.content-feature img {
  width: calc(50% - 0.75rem);
}
@media screen and (max-width: 800px) {
  .content-feature .content,
  .content-feature img {
    width: 100%;
  }
}
.content-feature .content:only-child,
.content-feature alert:only-child {
  width: 100%;
}
.content-feature img {
  height: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}
.content-feature--alert .content {
  width: calc(66.66% - 0.75rem);
}
@media screen and (max-width: 800px) {
  .content-feature--alert .content {
    width: 100%;
  }
}
.content-feature--alert .alert {
  width: calc(33.33% - 0.75rem);
}
@media screen and (max-width: 800px) {
  .content-feature--alert .alert {
    width: 100%;
  }
}

[class*=slab] .intro .heading-group h2::after {
  content: none;
}

.card-slab {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
}
.card-slab > * {
  width: calc(33.33% - 1rem);
}
@media screen and (max-width: 900px) {
  .card-slab .intro {
    width: 100%;
  }
  .card-slab .card {
    width: calc(50% - 0.75rem);
  }
}
@media screen and (max-width: 600px) {
  .card-slab .card {
    width: 100%;
  }
}

.sidebar-menu {
  border: solid #d1d1d1 2px;
}
.sidebar-menu ul {
  list-style-type: none;
  margin: 0;
}
.sidebar-menu ul li {
  margin: 0;
  border-bottom: dashed #d1d1d1 2px;
  font-family: "Azeret Mono", monospace;
  font-size: 0.9rem;
}
.sidebar-menu ul li.current {
  padding: 0.75rem;
  border-left: solid #0689b9 8px;
  font-style: italic;
  color: #3e3e3e;
}
.sidebar-menu ul li:last-child {
  border-bottom: none;
}
.sidebar-menu ul li a {
  padding: 0.75rem;
  display: block;
}
.sidebar-menu ul li a:hover, .sidebar-menu ul li a:active, .sidebar-menu ul li a:focus {
  background: #eaeaea;
}

.header {
  border-bottom: solid #0689b9 2px;
}
.header__top {
  background: #1d2f4b;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.header__top .logo {
  padding: 1rem;
}
@media screen and (max-width: 450px) {
  .header__top .logo {
    padding-right: 0;
  }
  .header__top .logo .nsh1 {
    display: none;
    visibility: hidden;
  }
}
.header__top .logo .nsh1 {
  color: #ffffff;
  font-size: 3.5rem;
}
.header__top .logo .nsh1::after {
  background: #99f2eb;
  height: 50px;
}
.header__top .logo .wordmark {
  color: #d1d1d1;
}
.header__bottom {
  width: 100%;
  border-top: solid #0689b9 0.5rem;
  padding: 2rem;
  background: #f6f6f6;
  display: none;
  visibility: hidden;
}
.header__bottom.active {
  display: block;
  visibility: visible;
}
.header__bottom nav {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 800px) {
  .header__bottom nav {
    flex-wrap: wrap;
  }
}
.header__bottom nav > * {
  width: 33.33%;
}
@media screen and (max-width: 800px) {
  .header__bottom nav > * {
    width: 100%;
  }
}
.header__bottom nav .superhead {
  border-bottom: dashed #d1d1d1 2px;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
  color: #1d2f4b;
}
.header__bottom nav .info p {
  font-size: 1.1rem;
}

.menu-toggle {
  font-family: "Azeret Mono", monospace;
  color: #ffffff;
  background: none;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  align-self: stretch;
  padding: 0 1rem;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  cursor: pointer;
}
.menu-toggle .menu-icon::before, .menu-toggle .menu-icon::after,
.menu-toggle .menu-icon span {
  content: "";
  display: block;
  height: 3px;
  width: 1.75rem;
  border-radius: 1rem;
  background-size: 100%;
  background: #ffffff;
  transition: 0.3s ease;
}
.menu-toggle .menu-icon span {
  margin: 0.5rem 0;
}
.menu-toggle:focus-visible {
  outline: solid #99f2eb 2px;
  outline-offset: -2px;
}
.menu-toggle:hover, .menu-toggle:focus-visible {
  color: #99f2eb;
}
.menu-toggle:hover .menu-icon::before, .menu-toggle:hover .menu-icon::after,
.menu-toggle:hover .menu-icon span, .menu-toggle:focus-visible .menu-icon::before, .menu-toggle:focus-visible .menu-icon::after,
.menu-toggle:focus-visible .menu-icon span {
  background: #99f2eb;
}
.menu-toggle.active {
  background: #0689b9;
}
.menu-toggle.active .menu-icon::before {
  transform: rotate(45deg);
  height: 3px;
  background: #ffffff;
}
.menu-toggle.active .menu-icon::after {
  transform: rotate(-45deg);
  height: 3px;
  background: #ffffff;
  margin-top: calc(-1.75rem + 6px);
}
.menu-toggle.active .menu-icon span {
  background-color: transparent;
}
.menu-toggle.active:hover, .menu-toggle.active:focus-visible {
  color: #1d2f4b;
}
.menu-toggle.active:hover .menu-icon::before, .menu-toggle.active:hover .menu-icon::after, .menu-toggle.active:focus-visible .menu-icon::before, .menu-toggle.active:focus-visible .menu-icon::after {
  background: #1d2f4b;
}

.mt-sm {
  margin-top: 0.5rem !important;
}

.mt-md {
  margin-top: 1rem !important;
}

.mt-lg {
  margin-top: 1.5rem !important;
}

.mt-xl {
  margin-top: 2rem !important;
}

.mt-xxl {
  margin-top: 3rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-sm {
  padding-top: 0.5rem !important;
}

.pt-md {
  padding-top: 1rem !important;
}

.pt-lg {
  padding-top: 1.5rem !important;
}

.pt-xl {
  padding-top: 2rem !important;
}

.pt-xxl {
  padding-top: 3rem !important;
}

.mb-sm {
  margin-bottom: 0.5rem !important;
}

.mb-md {
  margin-bottom: 1rem !important;
}

.mb-lg {
  margin-bottom: 1.5rem !important;
}

.mb-xl {
  margin-bottom: 2rem !important;
}

.mb-xxl {
  margin-bottom: 3rem !important;
}

.border {
  border: solid #0689b9 2px !important;
}

.page-header--light-gray + .internal-page, .page-header--navy + .internal-page, .page-header--dark-gray + .internal-page, .page-header--dark-gradient + .internal-page {
  margin-top: 3rem;
}

.internal-page {
  max-width: calc(1400px + 3rem);
  margin: 0 auto;
  display: flex;
  gap: 1.5rem;
  padding: 0 1.5rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 600px) {
  .internal-page {
    flex-wrap: wrap;
  }
}
.internal-page .sidebar {
  width: 25%;
  position: sticky;
  top: 1rem;
  align-self: flex-start;
}
@media screen and (max-width: 600px) {
  .internal-page .sidebar {
    width: 100%;
    order: 2;
  }
}
.internal-page .sidebar .link.link--back {
  display: inline-block;
  margin-bottom: 0.5rem;
  text-decoration: none;
  border-bottom: solid transparent 2px;
  padding-bottom: 0.125rem;
}
.internal-page .sidebar .link.link--back::before {
  content: "←";
  margin-right: 0.25rem;
  font-size: 1.25rem;
}
.internal-page .sidebar .link.link--back:hover, .internal-page .sidebar .link.link--back:active, .internal-page .sidebar .link.link--back:focus {
  border-bottom: solid #1d2f4b 2px;
}
.internal-page .sidebar .top {
  margin-top: 1.5rem;
  display: block;
  font-style: italic;
  font-size: 0.9rem;
}
.internal-page .sidebar .card {
  margin-top: 1.5rem;
}
.internal-page .main-content {
  width: 75%;
}
@media screen and (max-width: 600px) {
  .internal-page .main-content {
    width: 100%;
    order: 1;
  }
}
.internal-page .main-content .desc-list dd {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.1rem;
}
.internal-page .main-content .section-wrap:not(.section-wrap--light-gray) {
  padding-left: 0;
  padding-right: 0;
}
.internal-page .main-content .section-wrap--light-gray {
  padding: 3rem;
  margin: 3rem 0;
}
.internal-page .main-content img {
  width: 100%;
}
.internal-page .main-content ul + h2, .internal-page .main-content ul + h3 {
  margin-top: 1rem;
}
.internal-page .main-content > ul + p, .internal-page .main-content > ol + p {
  margin-top: 1rem;
}
.internal-page .main-content > h2, .internal-page .main-content > h3 {
  margin-bottom: 0.75rem;
}
.internal-page .main-content > .link-list {
  margin-bottom: 1.5rem;
}
.internal-page .main-content > .heading-group {
  margin-bottom: 0.75rem;
}

.portal {
  display: flex;
  gap: 1.5rem;
  max-width: 1300px;
  padding: 0 1.5rem;
  margin: 3rem auto;
  position: relative;
}
.portal .sidebar {
  order: 1;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  align-self: flex-start;
  top: 0;
}
.portal .sidebar img {
  max-height: 600px;
  z-index: 2;
}
.portal .sidebar .info {
  border: solid #0689b9 2px;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  margin-top: -2rem;
  width: 100%;
}
.portal .sidebar .info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.portal .sidebar .info ul li {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: dashed #d1d1d1 2px;
}
.portal .sidebar .info ul li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.portal .content {
  order: 2;
}
.portal .content h1 {
  position: relative;
  padding-bottom: 1.5rem;
}
.portal .content h1::after {
  content: "";
  border-bottom: dashed #0689b9 2px;
  display: block;
  width: calc(100% + 12rem);
  height: 1px;
  position: absolute;
  left: -12rem;
  z-index: -2;
  bottom: 0;
}
.portal .content .overview {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.portal .content .overview li {
  margin: 0;
  padding: 0;
  background: #0689b9;
  font-family: "Azeret Mono", monospace;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  color: #ffffff;
}
.portal .content .overview li:first-child {
  background: #1d2f4b;
}
.portal .content .overview li:last-child {
  background: #99f2eb;
  color: #1d2f4b;
}

.split-col {
  display: flex;
}
@media screen and (max-width: 800px) {
  .split-col {
    flex-wrap: wrap;
  }
}
.split-col .col {
  width: 50%;
  margin-top: 1.5rem;
}
.split-col .col:first-child {
  border-right: dashed #d1d1d1 2px;
  padding-right: 1.5rem;
}
@media screen and (max-width: 800px) {
  .split-col .col:first-child {
    border: none;
    padding: 0;
  }
}
.split-col .col:last-child {
  padding-left: 1.5rem;
}
@media screen and (max-width: 800px) {
  .split-col .col:last-child {
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  .split-col .col {
    width: 100%;
  }
}
.split-col .col h2, .split-col .col h3 {
  margin-bottom: 0.5rem;
}