/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {font-weight:bold;}
em {font-style:italic;}

/* END RESET */


/* VARIABLES */
$white: #ffffff;
$gray-100: #f6f6f6;
$gray-200: #eaeaea;
$gray-300: #d1d1d1;
$gray-400: #a7a7a7;
$gray-500: #717171;
$gray-600: #444444;
$gray-700:#3e3e3e;
$gray-800: #222222;
$gray-900:#111111;
$black: #000000;

$teal: #028090;
$cobalt: #003566;
$link: $teal;
$link-hover: $cobalt;

$highlighter: #fae396;
$gold: #E9C46A;
$orange: #F4A261;
$rouge: #E76F51;
$red: #cc3d2d;


/* BREAKPOINTS */

$breakpoints: (
    'xsmall': 500px,
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

@mixin respond-to($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
   
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }


body, html {
    font-family:'Work Sans', sans-serif;
}

header {
    max-width:800px;
    margin:0 auto;
    margin-top:2rem;
    &.sticky {
        margin-top:0;
        padding:1rem;
        background:$white;
        position:sticky;
        position:-webkit-sticky;
        top:0;
        border-bottom:solid $black 3px;
        max-width:none;
    }
}

a {
    text-decoration:none;
    transition:0.2s ease;
    box-shadow: inset 0 -.55rem 0 $highlighter; 
    color:$black;
    font-weight:bold;
    border-bottom:solid transparent 2px;
        &:hover, &:active {
            box-shadow: inset 0  -1rem  0 $gold; 
            border-bottom:solid $black 2px;
            color:$black;

    }
    &.back {
        font-style:italic;
        &:before {
            content:'\2190';
            padding-right:.3rem;
        }
    }
}

.main {
    hr {
        height:1px;
        border:none;
        border-top:dashed 1px #a7a7a7;
        margin: 2rem 0;
        &.small {
            width:25%;
            margin:2rem auto;
        }
    }

    .container {
        max-width:800px;
        margin:0 auto;
        padding:2rem;
        box-sizing:border-box;
        border:solid #d1d1d1 1px;
        border-radius:11px;
        margin-top:1rem;
        @include respond-to('small') {
padding:1rem;
margin:1rem;
        }

        h1 {
            border-bottom:dotted 1px #a7a7a7;
            margin-bottom:1rem;
            padding-bottom:.5rem;
            font-size:3rem;
            font-weight:900;
            color:#222222;
        }
        h2 {
            color:#3e3e3e;
            margin-bottom:.5rem;
            font-size:1.25rem;
            font-weight:700;
        }
        p {
            line-height:1.6;
            margin:0;
            padding:0;
            padding-bottom:1rem;
            &:last-child {
                padding-bottom:0;
            }
        }

        ul {
            list-style-type:none;
            margin:0;
            padding:0;
            padding-left:.5rem;
            margin-bottom:1rem;
            border-left:solid #d1d1d1 3px;
            li {
                margin:0;
                padding:0;
                border-bottom:dotted #d1d1d1 1px;
                margin-bottom:1rem;
                &:last-child, &:only-child {
                    border-bottom:none;
                    margin-bottom:0;
                }
            }
        }
    }
    .end {
        text-align:center;
        font-style:italic;
        margin-bottom:2rem;

    }
}

.bio-container {
    font-family:'Source Code Pro', monospace;
    .bio-grid {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr ;
        max-width:1100px;
        margin:0 auto;
        gap:2rem;
        margin-top:2rem;
        margin-bottom:2rem;
        .grid-item {
            border:none;
            border:solid $teal 3px;
            border-radius:16px;
            padding:1rem;
            box-shadow:none;
            display:block;
            font-weight:normal;
            background:$white;
            position:relative;
            align-self:start;
            &.emory {
                border-bottom: solid $teal 5px;
                border-left: solid $teal 2px;
                border-radius:8px;
                .lanyard {width:125px;height:8px;}
                .logo {
                    transform: rotate(-1deg) scale(.9);
                    filter:blur(.5px);
                    padding:0;
                    width:100%;
                    opacity:.8;
                }
                img {padding:.5rem;width:90%;}
                h2 {
                    opacity:.8;
                    font-size:1.3rem;
                }
                .stats {
                    opacity:.8;
                    p {
                        color:$gray-800;
                        strong {
                            font-weight:normal;
                            color:$black;
                        }
                    }
                }
            }
            &.staff {
                border:solid $gold 3px;
                &:hover {
                    box-shadow: 5px 5px 0px $gold;
                }
            }
            &:hover {
                border:none;
                border:solid $cobalt 3px;
                box-shadow:none;
                transform: rotate(-3deg) scale(1.05);
                box-shadow: 5px 5px 0px $teal;
            }
            &:nth-child(2n) {
                &:hover {
                    transform: rotate(3deg) scale(1.05);
                }
            }
            img {
                width:100%;
                aspect-ratio:1/1;
                object-fit:cover;
                &.logo {
                    aspect-ratio:auto;
                    object-fit:none;
                    margin-bottom:.5rem;
                }
            }
            .lanyard {
                width:75px;
                height:10px;
                border-radius:11px;
                content:'';
                background:$gray-300;
                display:block;
                margin:0 auto;
                margin-bottom:1rem;
                transition:0.2s ease;
            }
            h2 {
                font-size:1.5rem;
                font-weight:bold;
                color:$cobalt;
                display:flex;
                justify-content:space-between;
                line-height:1.2;
                margin-top:.5rem;
            }
            .stats {
                margin-top:1rem;
                p {
                    display:flex;
                    justify-content:space-between;
                    border-bottom:dashed 1px $gray-300;
                    padding-bottom:.5rem;
                    margin-bottom:.5rem;
                    &:last-child, &:only-child {
                        margin-bottom:0;
                        border-bottom:0;
                    }
                }
            }
            .status {
                color:$white;
                padding:.5rem;
                border-radius:11px;
                text-transform:uppercase;
                font-size:.9rem;
                margin-top:.5rem;
                position:absolute;
                margin-left:-.5rem;
                display:inherit;
                border:solid $white 2px;
                transform: rotate(-7deg);
                &.active {
                    background:$red;
                    &.emory {
                        background:$rouge;
                        font-size:1.1rem;
                        transform: rotate(3deg);
                        margin-top:1rem;
                    }
                }
                &.cleared {
                    background:$teal;
                }

            }
            p {
                line-height:1.5;
                &.staff {
                    display:flex;
                    border:none;
                    align-items:center;
                    text-transform:uppercase;
                    font-weight:bold;
                    color:$teal;
                    text-align:center;
                    padding-bottom:0;
                    margin-bottom:0;
                    &:before, &:after {
                        content:'';
                        background:$gold;
                        display:block;
                        width:100%;
                        height:1px;
                    }
                    &:before {
                        margin-right:.5rem;
                    }
                    &:after {
                        margin-left:.5rem;
                    }
                }
                &.title {
                    border:none;
                    font-style:italic;
                    font-size:.9rem;
                    color:$teal;
                }
            }

        }
    }
}