@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* END RESET */
/* VARIABLES */
/* BREAKPOINTS */
body, html {
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
  line-height: 1.5;
}

*::selection {
  background: #fae396;
}

header .banner {
  background: #E9C46A;
  padding: 1rem;
  text-align: center;
  margin: 0;
  border-bottom: solid #000000 4px;
}

a {
  text-decoration: none;
  transition: 0.2s ease;
  box-shadow: inset 0 -0.55rem 0 #fae396;
  color: #000000;
  font-weight: bold;
  border-bottom: solid transparent 2px;
}
a:hover, a:active {
  box-shadow: inset 0 -1rem 0 #E9C46A;
  border-bottom: solid #000000 2px;
  color: #000000;
}

main {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  gap: 2rem;
  align-items: flex-start;
  padding: 2rem;
}
main aside {
  width: 20%;
  position: sticky;
  top: 2rem;
  position: -webkit-sticky;
}
@media (max-width: 767px) {
  main aside {
    display: none;
    visibility: hidden;
  }
}
main .main {
  width: 80%;
  display: block;
}
@media (max-width: 767px) {
  main .main {
    width: 100%;
  }
}

aside {
  border: solid #d1d1d1 1px;
  padding: 1rem;
}
aside p {
  font-style: italic;
  border-bottom: dotted #a7a7a7 1px;
  margin-bottom: 1rem;
}
aside ul li {
  margin-bottom: 0.3rem;
}
aside ul li::before {
  content: "✦";
  padding-right: 0.3rem;
  color: #028090;
}
aside ul li a {
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid transparent 1px;
  color: #3e3e3e;
  cursor: pointer;
}
aside ul li a:hover, aside ul li a:active {
  border-bottom: solid #000000 1px;
  color: #000000;
}
aside ul li ul {
  margin-left: 1rem;
  border-left: solid #a7a7a7 1px;
  margin-top: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 0.05rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
aside ul li ul li::before {
  content: "✧";
}

.main h1 {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .main h1 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .main h1 {
    font-size: 2rem;
  }
}
.main h1::before {
  content: "";
  background: black;
  height: 36rem;
  width: 1px;
  display: block;
  margin-bottom: 1rem;
}
@media (max-width: 500px) {
  .main h1::before {
    height: 16rem;
  }
}
@media (max-width: 1200px) {
  .main h1::before {
    height: 22rem;
  }
}
.main .version {
  display: block;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.main .cvrs {
  display: block;
  margin-left: 1rem;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1rem;
}
.main .cvrs span {
  display: block;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #3e3e3e;
  font-size: 0.9rem;
}
.main p {
  margin-bottom: 1rem;
}
.main .body.intro {
  column-count: 2;
  margin-bottom: 3rem;
  border-bottom: solid #d1d1d1 1px;
  padding-bottom: 3rem;
}
@media (max-width: 767px) {
  .main .body.intro {
    column-count: 1;
  }
}
.main .body.intro .intro-block {
  font-size: 1.15rem;
  border-bottom: dotted black 1px;
  margin-bottom: 1rem;
}
.main .body.intro .disclaimer {
  padding: 1rem;
  border: solid #d1d1d1 1px;
  border-radius: 11px;
}
.main h2 {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  border-left: solid #d1d1d1 8px;
  padding-left: 0.75rem;
  margin-bottom: 1rem;
  color: #222222;
}
.main .search-bar {
  padding-top: 1rem;
}
.main .search-bar label {
  width: 100%;
  display: block;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.main .search-bar input {
  width: 100%;
  height: 50px;
  font-family: "Source Code Pro", monospace;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0;
  border: solid #222222 1px;
}
.main .search-bar input:focus {
  outline: solid #E9C46A 6px;
}
.main dl {
  padding: 2rem;
}
.main dl::before {
  display: block;
  content: "///";
  color: #a7a7a7;
  font-weight: bold;
  padding-bottom: 1rem;
}
.main dl .description-block {
  border-bottom: dotted #a7a7a7 2px;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}
.main dl .description-block:last-child, .main dl .description-block:only-child {
  border-bottom: solid #3e3e3e 5px;
}
.main dl dt {
  font-weight: 800;
  font-size: 1.1rem;
}
.main dl dd dl {
  margin-top: 0.5rem;
  padding: 0;
  padding-left: 1rem;
  border-left: solid #a7a7a7 1px;
}
.main dl dd dl::before {
  content: none;
}
.main dl dd dl dt {
  font-size: 1rem;
}
.main dl dd dl dd {
  margin-bottom: 0.5rem;
}
.main dl dd dl dd:last-child, .main dl dd dl dd:only-child {
  margin-bottom: 0;
}
.main h3 {
  font-weight: 800;
  font-size: 1.5rem;
  font-style: italic;
  color: #444444;
  margin-bottom: 0.5rem;
}
.main h3::before {
  display: block;
  width: 50px;
  height: 5px;
  content: "";
  background: #d1d1d1;
  margin-top: 2rem;
}
.main h4 {
  font-size: 1.25rem;
  color: #3e3e3e;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
.main .alert {
  padding: 1.5rem;
  border: solid #717171 1px;
  border-radius: 16px;
  background: #f6f6f6;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.main .alert .alert-heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
  display: flex;
  gap: 0.3rem;
  color: #222222;
}
.main .alert .alert-heading::before {
  content: "⚠";
  color: #444444;
}
.main .alert p {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}
.main .cvrs-list {
  padding: 1rem;
}
.main .cvrs-list .description-block dt {
  display: flex;
  justify-content: space-between;
}
.main .cvrs-list .description-block .badges {
  display: flex;
  gap: 0.5rem;
}
.main .cvrs-list .description-block .badges .badge {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  font-weight: 400;
}
.main .cvrs-list .description-block .badges .badge.active {
  background: #E9C46A;
}
.main .cvrs-list .description-block .badges .badge.passive {
  background: #028090;
  color: #ffffff;
}
.main .cvrs-list .description-block .badges .badge.urgent {
  background: #E76F51;
}
.main .vice-class-block {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.main .vice-class-block .classes {
  width: 66%;
}
.main .vice-class-block .classes .nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.main .vice-class-block .classes dl {
  padding: 0;
  padding-top: 2rem;
}
.main .vice-class-block .classes dl dt {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.main .vice-class-block .threat {
  padding: 0.25rem 0.75rem;
  border-radius: 8px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
}
.main .vice-class-block .threat.low {
  background-color: #d1d1d1;
}
.main .vice-class-block .threat.med {
  background-color: #E9C46A;
}
.main .vice-class-block .threat.high {
  background-color: #F4A261;
}
.main .vice-class-block .threat.crit {
  background-color: #E76F51;
}
.main .vice-class-block .threats {
  border: solid #d1d1d1 1px;
  padding: 1rem;
  border-radius: 11px;
  width: 33%;
}
.main .vice-class-block .threats h3 {
  margin-bottom: 1rem;
}
.main .vice-class-block .threats ul li {
  margin-bottom: 1rem;
}
.main .vice-class-block .threats ul li:last-child, .main .vice-class-block .threats ul li:only-child {
  margin-bottom: 0;
}
.main .vice-class-block .threats ul li p {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}