/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

// VARIABLES
$white: #ffffff;
$gray100: #f6f6f6;
$gray200: #eaeaea;
$gray300: #d1d1d1;
$gray400: #a7a7a7;
$gray500: #787878;
$gray600: #5d5d5d;
$gray700: #3e3e3e;
$gray800: #202020;
$gray900: #111111;
$black: #000000;
$accent:#bada55;
$accent2:#f00ba2;

$worksans:"Work Sans", sans-serif;
$mono: "Azeret Mono", monospace;

* {
	box-sizing:border-box;
}
strong {
	font-weight:bold;
}
em {
	font-style:italic;
}

body {
	background:$gray900;
	font-family:$worksans;
	color:$white;
}

.wrapper {
	padding:3rem;
	max-width:800px;
	margin:3rem auto;
	background:$gray900;
	box-shadow: 0 0 50px black;
	@media screen and (max-width:800px) {
		margin:0;
		padding:1.5rem;
	}
}

h1 {
	font-family:$mono;
	font-weight:100;
	font-size:3.5rem;
	display:flex;
	gap:1.5rem;
	color:$accent;
	margin-bottom:1.5rem;
	text-transform:uppercase;
	@media screen and (max-width:500px) {
		border-bottom:dashed $gray700 2px;
		padding-bottom:1rem;
		font-size:3rem;
	}
	&::after {
		flex: 1 0 20px;
		align-self:center;
		content:"";
		width:100%;
		display:block;
		height:1px;
		border-top:dashed $gray700 2px;
		@media screen and (max-width:500px) {
			content:none;
		}
	}
}
p {
	line-height:1.5;
	font-size:1.1rem;
	margin-bottom:1rem;
}

h2 {
	font-family:$mono;
	font-weight:200;
	font-size:2.5rem;
	color:$gray300;
	margin-bottom:1.5rem;
	display:flex;
	gap:.5rem;
	@media screen and (max-width:500px) {
		font-size:2rem;
	}
	&::after {
		flex: 1 0 20px;
		align-self:center;
		content:"";
		width:100%;
		display:block;
		height:1px;
		border-top:dashed $gray700 2px;
	}
}
h3 {
	font-family:$mono;
	font-style:italic;
	font-size:2rem;
	font-weight:300;
	margin-bottom:1rem;
	line-height:1.2;
	@media screen and (max-width:500px) {
		font-size:1.75rem;
	}
}
.superhead {
	font-family:$mono;
	text-transform:uppercase;
	color:$gray400;
	display:block;
	display:flex;
	gap:1.5rem;
	justify-content:space-between;
	align-items:flex-end;
	margin-bottom:.5rem;
	flex-wrap:wrap;
	@media screen and (max-width:500px) {
		flex-direction:column;
		gap:.5rem;
		align-items:flex-start;
		margin-bottom:.5rem;
		.label {
			order:1;
		}
		span:not(.label) {
			order:2;
		}
	}
	.label {
		font-size:.8rem;
		border-radius:8px;
		border:solid $gray700 1px;
		padding:.5rem .75rem;
		color:$gray300;
	}
}
.card-group {
	border-left:solid $accent 2px;
}
.card {
	padding:1.5rem;
	border-bottom:dashed $gray700 2px;
	position:relative;
	&:last-child {
		border-bottom:none;
	}
	&::before {
		content:"";
		width:16px;
		height:16px;
		border-radius:50%;
		border:solid $accent 2px;
		background:$gray900;
		position:absolute;
		top:36px;
		left:-11px;
	@media screen and (max-width:500px) {
		top:28px;
	}
	}
	a {
		font-size:1.1rem;
	}
}
a {
	line-height:1.5;
	color:$accent;
	font-weight:bold;
	font-size:inherit;
	transition:0.2s ease;
	font-family:$mono;
	text-decoration-thickness:2px;
	&:hover, &:active, &:focus {
		color:$accent2;
		text-decoration:none;
	}
}
footer {
	max-width:700px;
	margin:0 auto;
	text-align:center;
	margin-bottom:3rem;
	padding:1.5rem;
	.social {
		display:flex;
		gap:1.5rem;
		flex-wrap:wrap;
		justify-content:center;
	}
}