/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

/*SETTING SASS VARIABLES*/
$gray-800:#222222;
$gray-900:#111111;
$black:#000000;
$white:#ffffff;
$accent:#bada55;
$accent2:#f00ba2;


$worksans:"Work Sans", sans-serif;


body {
	background:$gray-800;
	color:$white;
	font-family:$worksans;
	line-height:1.5;
}

a {
	color:$accent;
	text-decoration:none;
	border-bottom:dotted $accent 1px;
	transition:0.2s ease;
	&:hover {
		color:$accent2;
		border-bottom:solid $accent2 1px;
	}

}

header {
	background:$gray-900;
	display:flex;
	justify-content:space-between;
	border-bottom:solid $accent 1px;
	.header-container {
	.site-title {
		font-weight:900;
		text-transform:uppercase;
		padding:1rem;
	}
}
.nav-container {
	ul {
		display:flex;
		gap:1rem;
		list-style-type:none;
		li {
			a {
				text-decoration:none;
				padding:1rem;
				display:block;
				background:transparent;
				transition:0.2s ease;
				color:$accent;
				border:none;
				&:hover{
					background:$accent;
					color:$gray-800;
					border:none;
				}
			}
		}
	}
}

}

.main {
	max-width:750px;
	margin:0 auto;
	padding:2rem;
	border-radius:16px;
	background:$gray-900;
	margin-top:2rem;
	h1 {
		font-size:3rem;
		text-transform:uppercase;
		font-weight:800;
		margin-bottom:1rem;
	}
	p {
		margin-bottom:.5rem;
	}
	h2 {
		font-size:2rem;
		font-weight:600;
		font-style:italic;
		margin-top:1rem;
	}
	h3 {
		font-size:1.5rem;
		font-weight:400;
		text-transform:uppercase;
		margin-top:1rem;
		border-bottom:dotted $accent2 1px;
		padding-bottom:.25rem;
		margin-bottom:.5rem;
	}

	ul {
		list-style-type:disc;
		margin-left:1.5rem;
		li {
			margin-bottom:.3rem;
			&:last-child{margin-bottom:0;}
			&::marker {color:$accent;}
		}
	}
}

footer {
	.footer-container {
		max-width:600px;
		margin:0 auto;
		border-top: dotted $accent 1px;
		padding-top:2rem;
		margin-top:2rem;
		margin-bottom:2rem;
	}
	.social {
		display:flex;
		justify-content:center;
		gap:1rem;
		margin-top:1rem;
	}
}